{% extends "layout.html" %}

{% block index_activo %}
{% endblock %}

{% block titulo %}
Nosotros
{% endblock%}

{% block about_activo %}
active
{% endblock %}

{% block contenido %}

<center>
    <h3>No sé que contar sobre mi así que:</h3>
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Siganme en <img src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"/></h5>
      
            <p class="card-text"><img src="https://instagram.fscl11-2.fna.fbcdn.net/v/t51.2885-15/e35/c135.0.810.810a/s320x320/88125276_533181113997192_5633051407591840376_n.jpg?_nc_ht=instagram.fscl11-2.fna.fbcdn.net&_nc_cat=100&_nc_ohc=Q4K9xtve9i4AX9d5Zs3&oh=4128f8e734da2f30c7b6b4fac9158d4a&oe=5EFB3394"/></p>
         <a href="https://www.instagram.com/inakix.hv/" class="card-link">Haz click aqui!</a>
      
        </div>
    </div>
    <img src="https://3.bp.blogspot.com/-E7U7ByNR2xw/WybdBZGmmwI/AAAAAAAAAAs/kCLLHtdoLicxqOOoOKL5SxolqZZaZhYMwCLcBGAs/s640/bb5ba9bdd250b94575e8ad4146676ef72db9f6b4.gif"/>
</center>


{% endblock %}