{% extends "layout.html" %}

{% block index_activo %}
active
{% endblock %}

{% block titulo %}
Mi pagina
{% endblock%}

{% block about_activo %}
{% endblock %}

{% block contenido %}
<center>
    <h5> Aqui les va una foto de mi gata para rellenar la pagina </h5>

    <img src="https://instagram.fscl11-2.fna.fbcdn.net/v/t51.2885-15/e35/s320x320/26869439_183769785555589_3603565397720170496_n.jpg?_nc_ht=instagram.fscl11-2.fna.fbcdn.net&_nc_cat=101&_nc_ohc=ZDms71eu9QUAX9co6qS&oh=d2f73d486ebd088c255be0e04dba28e0&oe=5EFADBCD"/>
</center>

{% endblock %}